<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.juhezi.mediademo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="me.juhezi.mediademo.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo"
                    android:path="/main"
                    android:scheme="media" />

            </intent-filter>

        </activity>
        <activity android:name=".VideoPlayerActivity" />
        <activity android:name=".media.camera.CaptureActivity" />
        <activity android:name=".LithoActivity" />
    </application>

</manifest>